.header {
  display: flex;
  gap: 12.25rem;
}

.header .todo-container {
  width: 6.8125rem;
  height: 1.25rem;
}

.header .moon {
  width: 1.2073125rem;
  height: 1.25rem;
  background-color: transparent;
}
